
:root{
        --global-color-0: #9d0b28;
        --global-color-1: #3a3a3a;
        --global-color-2: #fff;
        --global-color-3: #f9f9f9;
        --global-color-4: #090909;
        --global-color-5: #ff004d;
        --global-color-6: #5a082d;
        --global-color-7: #33030d;
        --global-color-tex: #3a3a3a;

        --azeret-mono: 'Azeret Mono',monospace;
        --orbitron: 'Orbitron',sans-serif;
        --source-sans-pro: 'Source Sans Pro',sans-serif;
}
li{
font-family: var(--azeret-mono);
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}
.container__total{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 3rem;
}
.container__cabezera{
    z-index: 10;
    display: flex;
    width: 100%;
    position: fixed;
    left: 0;
    background-color: hwb(0 0% 100% / 0.753);
    justify-content: center;
    flex-wrap: nowrap;
}
.cabecera{
    width: 100%;
    max-width: 1600px;
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index:1;
}

.cabecera__logo--imagen{
width: 150px;
}

.cabecera__menu{
    font-family: var(--orbitron);
    font-size: 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.hamburger {
    display: flex;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    /* min-height: 50px; */
    max-width: 50px;
    justify-content: space-around;
    flex-direction: row;

}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: white;
    position: absolute;
    width: 50px;
    height: 4px;
    border-radius: 5px;
    content: '';
    transition-timing-function: ease;
    transition-duration: .2s;
    transition-property: transform, opacity;;
}
.hamburger-inner:before {
    left: 0px;
    top: 12px;
}
.hamburger-inner:after {
    left: 0px;
    top: 24px;
}

.hamburger.open .hamburger-inner {
    transform: translate3d(0,12px,0) rotate(45deg);
}
.hamburger.open .hamburger-inner:after {
    transform: translate3d(0,-24px,0) rotate(-90deg);
}
.hamburger.open .hamburger-inner:before {
    transform: translate3d(0,-12px,0) rotate(-90deg);
}

.cabecera__lista{

}

.cabecera__item{
margin: .5rem;
display: inline-block;

}

.cabecera__item--contacto{
    margin: .5rem 0;
    display: inline-block;
}
/*Sección Menu*/
.fondo{
    background-color: var(--global-color-1);
    z-index: 2;
    position: relative;
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}

.fondo::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--global-color-6);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

.fondo span{
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background: #181818;
    z-index: 2;
    transition: 1.5s;
}
section span:hover{
    background: var(--global-color-7);
    transition: 0s;
}

.contenido{
    pointer-events: none;
    position: absolute;
    z-index: 100;
}
.presentacion{
/*background-image: url(../img/texturacom.webp);*/
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.presentacion__overlay {
    position: relative;
    z-index: 1;
}
.presentacion__div{
margin: 0 auto;
max-width: 1600px;
padding: 2rem 3rem 3rem 3rem;
display: flex;
color: white;
justify-content: space-between;
flex-direction: row;
align-items: stretch;
}

.presentacion__link{
    pointer-events: all;
}
.presentacion__seccion1{
font-family: var(--orbitron);
font-weight: 700;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: flex-start;
}
.presentacion__seccion2{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 text-align: end;
 font-family: var(--orbitron);
 font-weight: 700;
 align-items: flex-end;
}
.presentacion__seccion2>div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
   }
.presentacion__seccion2--descripcion{
    color: #7c7c7c;
    font-weight: 100;
    height: fit-content !important;
    width: fit-content !important;
    margin: 10px 0px;
    font-family: var(--source-sans-pro);
   }
   
.presentacion__seccion1--descripcion{
    align-items: end;
    height: fit-content !important;
    width: fit-content !important;
    margin: 10px 0px;color: #7c7c7c;
    font-weight: 100;
    font-family: var(--source-sans-pro);
   }

   .presentacion__seccion2--titulo{
    margin-bottom: .5rem;
    font-size: 42px;
    font-weight: 700;
   }
   
.presentacion__seccion1--titulo{
    margin-bottom: .5rem;
    font-size: 42px;
    font-weight: 700;
   }

.presentacion__seccion3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentacion__foto{
 width: 50%;
 margin: 1rem .0rem;
}

.presentacion__item{
display: inline-block;
margin: 1rem 1rem;
font-family: var(--source-sans-pro);
}

.presentacion__titulo{
    font-family: var(--orbitron);
    font-size: 100;
    margin: .5rem .0rem;
    text-align:center;
}

.presentacion__descripcion{
    color: #7c7c7c;
    font-weight: 100;
    font-family: var(--source-sans-pro);
}

section.menu{

}

/*Sección Title*/

section.title{

}

/*Sección About*/
.about__container{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: nowrap;

}
.about__card{
    flex-basis: calc(100vw / 4);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5%;
    padding: 1rem 1rem;
    background-color: var(--global-color-3);
    animation: rebote 0.5s infinite;
    animation-play-state: paused;
}

.about__card:hover{
    animation-play-state: running;
    background-color: #33030d;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    --global-color-tex: #ffffff;
}
.about__card:hover .about__paragraph{
    color: white;
}

@keyframes rebote {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
.about__card:active{
    animation-play-state: running;;
}
.about__card__title{
    border-left: 0.3rem var(--global-color-5) solid;
}
.about__card__title>h3{
    font-family: var(--orbitron);
    font-weight: 200;
    font-size: 25px;
    color: var(--global-color-5);
    padding: 0px 10px
}
.about__head{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;

}
.about__title{
font-family: var(--orbitron);
font-weight: 700;
font-size: 40px;

}
.about__card__icon{
    color: var(--global-color-0);


}
.about__title__h2{
    font-family: var(--orbitron);
    font-weight: 700;
    color: var(--global-color-7);
}
.about__paragraph{
    color: #7c7c7c;
    font-weight: 100;
    font-family: var(--source-sans-pro);
    text-align: justify;
}
.about__contentd__end{
    flex-basis: calc(100vw / 2);
    display: flex;
    align-items: end;
    flex-direction: column;
}

.about__contentd__star{
    flex-basis: calc(100vw / 2);
    display: flex;
    align-items: start;
    flex-direction: column;
}

.carousel-item
  { 
    gap: 20px !important;
}
.card{
    border: var(--global-color-5) 2px solid;
    padding: 1px;
    background-color: var(--global-color-6);
}
.card:hover{
    filter: grayscale(100%);
    transform: translateY(-10%);
    box-shadow: 0px 5px 10px var(--global-color-7);
}
.card:hover>ul.hobbies__box.hobbies__name{
    color: white;
    filter:hue-rotate(12deg) brightness(50%) saturate(40);
}
.carousel-inner{
    padding-top: 30px;
}
.carousel-item {
    width: 92%;
}
/*Sección Hobbies*/
/*  carrusel*/
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 568px) {


    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(30%);
    }
    .carousel-inner .carousel-item-next{
        display: none;
    }
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-30%);
    }
    /*.carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(0);
    }*/
    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start { 
        transform: translateX(0);
    }
    
}


.carousel-inner .active.carousel-item-end{
    display: none;
}

.skills, .hobbies{
    align-items: center ;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;

}
.skills__contend, .hobbies__contend{
    width: 70%;

}
.skills__title{
font-family: var(--orbitron);
font-weight: 700;
font-size: 40px;
margin: 1rem 0rem;
text-align: center;
}
.skills__line, .hobbies__line{
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
}

.skills__box, .hobbies__box{
/*width: calc(16%);*/
height: 150px;
display: flex;
justify-content:center;
align-items: flex-end;
padding: 1.5rem;
margin: .5rem;
/*background-color: #e9e9e9;*/
}
.skills__name, .hobbies__name{
    margin-top: 1rem;
    font-family: var(--orbitron);
    color: var(--global-color-5);
}

.skills__img, .hobbies__img{
    filter:hue-rotate(162deg) brightness(50%) saturate(40);
    display: flex;
    justify-content: center;
}

.hobbies__title{
    font-family: var(--orbitron);
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin: 1rem 0rem;
}

/* Experiencia Académica*/
.academic{

}
.academic__title{
    color: var(--global-color-2);
    font-family: var(--orbitron);
    font-weight: 300;
    padding: 30px 0px;
    font-size: 40px;
    text-align: center;
}

.academic__courses{
display: flex;
width: 100%;
justify-content: space-between;
}

.academic__courses__box{
background-color: var(--global-color-0);
width: 33%;
}
.academic__courses__list{
    background-color: var(--global-color-3e);

}
.academic__courses__item__img{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
}
.academic__courses__item__title{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: var(--global-color-2);
    font-family: var(--orbitron);
    font-weight: 300;
}

.academic__courses__item__subtitle{
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 100;
    font-family: var(--source-sans-pro);
}

/*tab*

/* funcionamiento básico del sistema de pestañas */
.tab-content {
    display: none;
  }
  
  .tab:target .tab-content, .tab:last-of-type .tab-content {
    display: block;
  }
  
  .tab:target ~ .tab:last-of-type .tab-content {
    display: none;
  }
  
  /* parámetros para configurar las pestañas */
  :root {
    --tabs-width: 150px;
    --tabs-height: 40px;
  }

  /* esto es para posicionar las pestañas correctamente */
  .tab-container {
    position: relative;
    padding-top: var(--tabs-height); /* en esta zona colocaremos las pestañas */
  } 
  #tab1>a { --tabs-position: 0; }
  #tab2>a { --tabs-position: 1; }
  #tab3>a { --tabs-position: 2; }
  #tab4>a { --tabs-position: 3; }
  #tab5>a { --tabs-position: 4; }
  #tab6>a { --tabs-position: 5; }
  #tab7>a { --tabs-position: 6; }
  #tab8>a { --tabs-position: 7; }
  #tab9>a { --tabs-position: 8; }
  .tab>a {
    text-align: center;
    position: absolute;
    width: calc(var(--tabs-width));
    height: calc(var(--tabs-height) + var(--tabs-border-size)); 
    top: 0;
    left: calc(var(--tabs-width) * var(--tabs-position)); /* posición de cada pestaña */
  }
  
  /* más aspecto */
  .tabs { 
    font-family: var(--orbitron);
    padding: 10px;
  }
  .tab-content {
    padding: 20px;
  }
  .tab>a {
    padding: 10px;
  }
  .tab:target>a, .tab:last-of-type>a {
    color: #ff004d;
    background-color: var(--global-color-6); 
  }
  .tab:target ~ .tab:last-of-type>a {
    color: var(--global-color-1);
    background-color: var(--tabs-dark-color); 
  }

/*end tab*/


/* experiencia*/
.secction__box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.experience__section__title{
    font-family: var(--orbitron);
    font-weight: 700;
    font-size: 40px;
    text-align: center;

}
.background{
    max-width: 1600px;
    margin: 20px auto;
    padding: 1rem 3rem;
    background-color: var(--global-color-7);
}
.contenido__experience__img{
min-width: 150px;
max-width: 300px;
height: 200px;
padding: 10px ;
background: var(--global-color-3);
display: flex;

}
.experience__img{
    border-radius: 10px;
    display: block;
    margin: auto 0;
    width: 100%;

}
.experiencie__box{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.experience__info-container{
    background-color: var(--global-color-2);
}
#reves{

}
.experience__title{
    font-family: var(--orbitron);
    font-weight: 400;
    font-size: 30px;
}
.experience__text{
    color: var(--global-color-1);
    font-weight: 100;
    font-family: var(--source-sans-pro);
}

.experiencia__botao--repo{
color: var(--global-color-0);
font-weight: 100;
font-family: var(--source-sans-pro);
padding: 1rem 2rem;
font-size: 22px;
outline:none;
border: solid 2px var(--global-color-0);

}

.experience__botao--demo{
    color: #ffffff;
    background-color: var(--global-color-0);
    font-weight: 100;
    font-family: var(--source-sans-pro);
    padding: 1rem 2rem;
    font-size: 22px;
    outline:none;
    border: solid 2px #ffffff;
    
    }
.experiencia__botao--repo:focus { outline: none; }


/*Contacto*/
.formcontato__contacto{
display: flex;
}
.formcontato__img{
    flex-wrap: wrap;
}
.formcontato__form{
    display: flex;
    flex-direction: column;

}
.formcontato__text{
    flex-basis: calc(100vw/2);
}
.formcontato--esquerda{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-basis: calc(100vw/2);
    margin-right: 1rem;
}
.formcontato__title{
    font-family: var(--orbitron);
    font-weight: 400;
    font-size: 30px;
}
.formcontato__subtext{
    color: #7c7c7c;
    font-weight: 100;
    font-family: var(--source-sans-pro);
    margin-bottom: 1rem;
}

.formcontato__input{
    border: 1px solid var(--global-color-0);
    border-radius: 10px;
    font-size: 16px;
    padding: 1rem;
    font-family: var(--source-sans-pro);
    margin-bottom: .5rem;
}
.formcontato__textarea{
    border: 1px solid var(--global-color-6);
    font-family: var(--source-sans-pro);
    border-radius: 10px;
    font-size: 16px;
    padding: 1rem;
    margin-bottom: .5rem;
}

.formcontato__botao{
    width: 30%;
    color: #ffffff;
    background-color: var(--global-color-0);
    font-weight: 100;
    font-family: var(--source-sans-pro);
    padding: 1rem 2rem;
    font-size: 22px;
    outline:none;
    border: solid 2px #ffffff;
}

.formcontato__input:focus-visible{
    border: 1px solid var(--global-color-6);
    border-radius: 10px;
}
.formcontato__input:active{
    border: 1px solid var(--global-color-6);;
    border-radius: 10px;
}
/*footeer*/
.footer__rodape{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    color: #7c7c7c;
    font-weight: 100;
    font-family: var(--source-sans-pro);

}

.alert{
display: none;
}
section.footer{
   
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/

@media (max-width: 992px) {
    .cabecera {
        width: calc(100%);
    }
    .cabecera__lista{
        /*display: none;*/
    }
    .cabecera__menu {
        justify-content: flex-start;
    }
    .about__title{
    text-align: left;
    }

    .fondo{
        width: 100%;
        height: 100%;
        gap: 1px;
        justify-content: space-evenly;
        align-items: start;
    }

    .fondo span{
        height: calc(16.190vw - 2px);
    }
    .presentacion{
        padding-top: 70PX;
    }
    .presentacion__div{
        align-items: center;
        flex-direction: column;
        }
    .presentacion__seccion1{
        align-items: center;
        }
    
    .presentacion__seccion2{
        align-items: center;
       }

       .presentacion__seccion2>div{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
       }
       
    .presentacion__titulo{
     text-align:center;
    }
    .presentacion__descripcion{
        text-align: center;
        margin-bottom: 1rem;
    }
    
    .presentacion__seccion--DES{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__container{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-wrap:wrap;
    
    }
    .about__card {
        flex-basis: calc(100vw / 3);
        flex-grow: 2;
    }

    .carousel-inner .carousel-item > div {
        display: block;
    }
    .skills__box {
        width: calc(25%);
        height: 130px;

    }

    .skills__line {
        flex-wrap: wrap}

    .hobbies__box {
        width: calc(25%);
        height: 130px;
    
    }
    .hobbies__line {
        flex-wrap: wrap}

    .academic__courses{
        flex-wrap: wrap
    }

    .academic__courses__box{

        width: 33%;
        }
    
    .academic__courses__item__img {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .background{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .experience__section__title{
        margin-top: 1rem;
    }

    .secction__box{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }

    .experience__img{
        width: 100%;
        }
    .experiencie__box{
        margin: 1rem 0;
        flex-direction: column;
    }
    .experience__title{
    font-size: 22px;
    }
    .container__total{
        padding: 0 1rem;
    }

    #reves{
        flex-direction: column;
    }

    .experiencia__botao--repo {
        padding: .75rem 1.5rem;
        font-size: 16;
    }
    .formcontato__img{
        display: none;
    }
    .formcontato--esquerda{
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: center;
        flex-basis: 0;
        margin-right: 1rem;
    }
    .formcontato__contacto{
        flex-direction: column;
        }
    
    .formcontato__text{
        margin-top: 1rem;
    }

    .formcontato__botao{
        width: auto;
    }
    .experience__description{
        margin-top: 1rem;
    }
/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (max-width: 625px){
    :root {
        --tabs-width: calc(100% / 3);
        --tabs-height: 50px;
      }
    .cabecera__lista{
        /*display: none;*/
    }
    .about__title{
    text-align: left;
    }
    .about__container{
        flex-direction: column;
    }
    .presentacion{
        padding-top: 70PX;
    }
    .fondo{
        width: 100%;
        height: 100%;
        gap: 1px;
        justify-content: space-evenly;
        align-items: center;
    }
    .fondo span{
        width: calc(11.35vw - 0.5px);
        height: calc(11.35vw - 0.5px);
    }
    .presentacion__div{
        align-items: center;
        flex-direction: column;
        }
    .presentacion__seccion1{
        align-items: center;
        }
    
    .presentacion__seccion2{
        align-items: center;
       }
    
    .presentacion__titulo{
     text-align:center;
    }
    .presentacion__descripcion{
        text-align: center;
        margin-bottom: 1rem;
    }
    .presentacion__seccion--DES{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carousel-inner .carousel-item > div {
        display: block;
    }

    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start { 
    transform: translateX(-40%);
}

.carousel-inner .carousel-item-start.active, 
.carousel-inner .carousel-item-prev {
    transform: translateX(-40%);
}
.carousel-inner .carousel-item-end.active,
.carousel-inner .carousel-item-next {
    transform: translateX(10%);
}
.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
    transform: translateX(10%);
}
    .skills, .hobbies {
        flex-direction: column;
    }
    .hobbies {
        display: flex;
        flex-direction: column-reverse;
    }

    .academic__courses{
        flex-wrap: wrap;
        gap: 20px;
    }



    
.carousel-inner .carousel-item-next{
    display: none;
}
.skills__contend, .hobbies__contend {
    width: 100%;
}
    .skills__box {
        width: auto;
        height: 130px;

    }

    .hobbies__box {
        width: auto;
        height: 130px;
    
    }
    
    .academic__courses__box{
        width: 100%;
        }
    .background{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .secction__box {
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        /* justify-items: center; */
        flex-direction: column;
        align-items: center;
    }
    .experience__section__title{
        margin-top: 1rem;
    }
    .experience__img{
        width: 100%;
        }
    .experiencie__box{
        margin: 1rem 0;
        flex-direction: column;
        align-items: center;
    }
    .experience__title{
        text-align: center;
        font-size: 22px;
    }
    .experience__text{
        text-align: center;
    }
    .container__total{
        padding: 0 1rem;
    }

    #reves{
        flex-direction: column;
    }

    .experiencia__botao--repo {
        padding: .75rem 1.5rem;
        font-size: 16;
    }
    .formcontato__img{
        display: none;
    }
    .formcontato__contacto{
        flex-direction: column;
        }
    
    .formcontato__text{
        margin-top: 1rem;
    }

    .formcontato__botao{
        width: auto;
    }
    .experience__description{
        margin-top: 1rem;
    }
}
/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

